<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Me</title>
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
        <style>
            body  {
                background-image: url("../static/images/image7.jpg");
            }
        </style>

    </head>

    <body class="wrapper">
        <header>
            <a href="index"> Home</a>
			<a href="about"> About Me</a>
			<a href="contact"> Contact Me</a>
        </header>

        <div id="contact_us_notice">
        </div><br />

        <form id = "contact_form">
            <div>
                <label>Name:</label><br />
                <input name="Name" type="text" value="" size="30" /><br />
                <br />
            </div>

            <div>
                <label>Email:</label><br />
                <input name="Email" type="text" value="" size="30" /><br />
                <br />
            </div>

            <div>
                <label>Subject:</label><br />
                <input name="Subject" type="text" value="" size="30" /><br />
                <br />
            </div>

            <div >
                <label>Message:</label><br />
                <textarea name="Message" rows="40" cols="60"></textarea><br />
                <br />
            </div>
            <input type="submit" value="Submit" />
        </form>


        <footer>
            <a href="index"> Home</a>
			<a href="about"> About Me</a>
			<a href="contact"> Contact Me</a>
        </footer>


        <script src="../static/js/script.js"></script>
    </body>
</html>

