<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Assignment 1 - INFO 253 Web Architecture</title>
		<link href="../static/css/style.css" rel="stylesheet" type="text/css">
		<style>
			body  {
				background-image: url("../static/images/image0.jpg");
			}
		</style>
	</head>
	<body class="wrapper">
		<header>
			<a href="index"> Home</a>
			<a href="about"> About Me</a>
			<a href="contact"> Contact Me</a>
		</header>

		<h1>Xuran's First Blog Website </h1>
		<h2>
			<a href="blog/8-experiments-in-motivation"> 8 Experiments in Motivation </a><br/>
			<br/>

			<a href="blog/a-mindful-shift-of-focus"> A Mindful Shift of Focus </a><br/>
			<br/>

			<a href="blog/how-to-develop-an-awesome-sense-of-direction"> How to Develop an Awesome Sense of Direction </a><br/>
			<br/>

			<a href="blog/training-to-be-a-good-writer"> Training to Be a Good Writer </a><br/>
			<br/>

			<a href="blog/what-productivity-systems-wont-solve"> What Productivity Systems Won't Solve </a><br/>
			<br/>

		</h2>

		<footer>
			<a href="index"> Home</a>
			<a href="about"> About Me</a>
			<a href="contact"> Contact Me</a>
		</footer>
	</body>
</html>
	
